#global-header .header-wrapper {
  .header-global {
    width: percentage(4 / 12);
    float: left;
    margin-left: percentage(0.18/12);
    .header-logo {
      width:auto;
      .content {
        margin-left:0;
      }
    }
  }
  .sign-out {
    color: #ffffff !important;
    float: right;
  }
  .header-proposition {
    width: percentage(8 / (5 / 12));
  }
}

#proposition-name{
  float: left;
}

.govuk-box-highlight {
  margin: 0;
  padding-bottom: 1.5em;
}

strong {
  font-weight: 600;
}

.form-label, .gov_uk_date legend {
  font-weight: bold;
}

.gov_uk_date .form-hint{
  margin-bottom: 0;
}

a.button:link {
  color: #fff;
}
