#global-header .header-wrapper {
  max-width: 960px; 
  .header-global {
    width: 33%;
    float: left;
    .header-logo {
      width:auto;
      .content {
        margin-left:0;
      }
    }
  }
  .sign-out {
    color: #ffffff !important;
    float: right;
  }
}

#proposition-name{
  float: left;
}

.govuk-box-highlight {
  margin: 0;
  padding-bottom: 1.5em;
}

strong {
  font-weight: 600;
}

.form-label, .gov_uk_date legend {
  font-weight: bold;
}

.gov_uk_date .form-hint{
  margin-bottom: 0;
}

a.button:link {
  color: #fff;
}
