html {
  background:$grey-3;
}
body {
  background: #fff;
}

#page {
  @extend %site-width-container;
}
.body-content {
  width: percentage(6 / 12);
  padding-left: 0;
}

.sidebar {
  width: percentage( 1/3 );
  float: right;
}
.govuk-related-items {
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }

}
