.confirmation-header {
  @include span(8 of 12);
  @include first;

  background-color: $turquoise;
  color: $white;
  text-align: center;
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;
  margin-bottom: $gutter;
  margin-top: $gutter ;

  .normal{
    margin-bottom: $gutter-half;
    margin-top: $gutter-half;
  }
}

.table-caption {
  @include bold-24;
  float: left;
  margin-top: $gutter;
}

.error-summary,.notice-summary {
  @include span(8 of 12);
  @include first;
  float: none;
  h1{
    margin-top: 0;
    margin-bottom: 0;
  }
}

.notice-summary {
  @extend .error-summary;
  border-color: $button-colour;

}

address {
  font-style: normal;
}

.before-start li{
  margin-bottom: $gutter;
}

.p--double-lines {
  line-height: 2em;
}

.start-heading{
  margin-bottom: $gutter;
}

.start-heading--hint{
  @include core-24;
}

.start-heading--reasons {
  @include bold-24;
  margin-top: $gutter * 1.5;
  margin-bottom: $gutter-half;
}

.original-message {
  border-top:    1px solid $border-colour;
  border-bottom: 1px solid $border-colour;
  padding-top   : 1em;
  padding-bottom: 0.8em;
}

.more-results {
  margin-top: $gutter;
}
