<% content_for :page_title do
 %><%= ::Temple::Utils.escape_html((t('page_title.contact_confirm'))) %>

<% end %><%= ::Temple::Utils.escape_html((render partial: 'layouts/header', locals: {page_heading: t('.one_more_step') })) %>

<div class="grid-row">
<div class="column-two-thirds">
<%= ::Temple::Utils.escape_html((t('.next_copy_html', email: @correspondence.email))) %>

</div></div><div class="uuid" data-uuid="<%= ::Temple::Utils.escape_html((@correspondence.uuid)) %>">
</div>
