- content_for :page_title do
  = t('page_title.contact_confirm')

= render partial: 'layouts/header', locals: {page_heading: t('.one_more_step') }

.grid-row
  .column-two-thirds
    = t('.next_copy_html', email: @correspondence.email)

.uuid data-uuid="#{@correspondence.uuid}"
