<% content_for :page_title, t('page_title.accessibility_statement') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Accessibility statement</h1>

    <p>This accessibility statement applies to the Contact Ministry of Justice service at: <a href="https://contact-moj.service.justice.gov.uk">https://contact-moj.service.justice.gov.uk</a>.</p>

    <p>This service is built and maintained by the Ministry of Justice. Justice Digital is responsible for the content of this service.</p>

    <h2 class="govuk-heading-l">Using this service</h2>

    <p>We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
    <%= govuk_list [
        "change colours, contrast levels and fonts",
        "zoom in up to 300% without the text spilling off the screen",
        "navigate the service using just a keyboard",
        "navigate the service using speech recognition software",
        "listen to the service using a screen reader (including recent versions of JAWS, NVDA and VoiceOver)"
      ], type: "bullet"
    %>

    <p>We have also made the text as simple as possible to understand.</p>

    <p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

    <h2 class="govuk-heading-l">How accessible this service is</h2>
    <p>We have tested the service and believe it meets the Web Content Accessibility Guidelines version 2.2 AA standard.</p>

    <h2 class="govuk-heading-l">Feedback and contact information</h2>
    <p>If you have problems using this service or need additional support, email <%= govuk_link_to('Contact-MOJ-Support-gg@justice.gov.uk', 'mailto:Contact-MOJ-Support-gg@justice.gov.uk') %>.</p>

    <h2 class="govuk-heading-l">Reporting accessibility problems with this service</h2>
    <p>We’re always looking to improve the accessibility of this service. If you find any problems or think we’re not meeting accessibility requirements, email: <%= govuk_link_to('Contact-MOJ-Support-gg@justice.gov.uk', 'mailto:Contact-MOJ-Support-gg@justice.gov.uk') %>.</p>

    <h2 class="govuk-heading-l">Enforcement procedure</h2>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.</p>

    <h2 class="govuk-heading-l">Technical information about this service's accessibility</h2>
    <p>We are committed to making this form accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h3 class="govuk-heading-m">Compliance status</h3>
    <p>This form is fully compliant with the <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> AA standard.</p>

    <h2 class="govuk-heading-l">What we're doing to improve accessibility</h2>
    <p>We review the content and performance of this service on an ongoing basis and fix any accessibility issues identified or reported to us.</p>

    <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
    <p>This statement was last updated on 20 February 2026.</p>
    <p>The service was last tested on 28 November 2025 against the WCAG 2.2 AA standard.</p>
    <p>Tests were carried out by User Vision on the full end-to-end user journey using a variety of devices, operating systems and browsers with a range of accessibility software. They identified 9 WCAG issues, of which 1 was classed as medium severity and 8 low severity. All issues were addressed before this statement was updated.</p>
  </div>
</div>
