<% content_for :page_title, t('page_title.accessibility_statement') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Accessibility statement</h1>

    <p>This accessibility statement applies to the Contact Ministry of Justice form at: <a href="https://contact-moj.service.justice.gov.uk">https://contact-moj.service.justice.gov.uk</a>.</p>

    <p>This form was built by the Ministry of Justice. Justice Digital is responsible for the content of this form.</p>

    <h2 class="govuk-heading-m">Using this form</h2>

    <p>We want as many people as possible to be able to use this form. For example, that means you should be able to:</p>
    <%= govuk_list [
        "change colours, contrast levels and fonts",
        "zoom in up to 300% without the text spilling off the screen",
        "navigate the form using just a keyboard",
        "navigate the form using speech recognition software",
        "listen to the form using a screen reader (including recent versions of JAWS, NVDA and VoiceOver)"
      ], type: "bullet"
    %>

    <p>We have also made the text as simple as possible to understand.</p>

    <p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

    <h2 class="govuk-heading-m">How accessible this form is</h2>
    <p>We have performed a basic accessibility check of this form and believe it meets the <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> AA standard.</p>

    <h2 class="govuk-heading-m">Feedback and contact information</h2>
    <p>If you require an alternative method of making a subject access request to this online form, you can also make a request by email or letter. Follow the guidance set out in the <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter">Personal information charter</a>.</p>
    
    <p>If you have problems using this form or need additional support, email: <%= govuk_link_to('contact-moj-support@digital.justice.gov.uk', 'mailto:Contact-MOJ-Support@digital.justice.gov.uk') %></p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.</p>

    <h2 class="govuk-heading-m">Technical information about this form's accessibility</h2>
    <p>We are committed to making this form accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h3 class="govuk-heading-s">Compliance status</h3>
    <p>This form is fully compliant with the <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> AA standard.</p>

    <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>
    <p>We review the content and performance of this site on an ongoing basis and fix any accessibility issues identified or reported to us.</p>

    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p>This statement was last updated on 10 March 2025.</p>
    <p>We completed accessibility checks on a representative sample of pages using keyboard testing and the WAVE automated testing tool. The tests on the website were carried out by the Ministry of Justice on 28 February 2025.</p>
  </div>
</div>
