- content_for :page_title do
	= t('page_title.accessibility_statement')

h1.heading-xlarge Accessibility statement for Contact the Ministry of Justice

p This web form is run by the Ministry of Justice Digital & Technology team. We want as many people as possible to be able to use this web form. For example, that means you should be able to:

ul.list.list-bullet
  li change colours, contrast levels and fonts
  li zoom in up to 200% without the text spilling off the screen
  li navigate most of the web form using just a keyboard
  li navigate most of the web form using speech recognition software
  li listen to most of the web form using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)


p We’ve also made the form text as simple as possible to understand.

p <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.


h2.start-heading.start-heading--reasons How accessible this web form is

p This web form is accessible.

p We have completed a WCAG 2.1 review for this web form.

h2.start-heading.start-heading--reasons What to do if you cannot access parts of this web form

p If you need information on this web form in a different format like accessible PDF, large print, easy read, audio recording or braille:

ul.list.list-bullet
  li email: <a href="mailto:Contact-MOJ-Support@digital.justice.gov.uk">Contact-MOJ-Support@digital.justice.gov.uk</a>

p We’ll consider your request and get back to you within 7 days.

h2.start-heading.start-heading--reasons Reporting accessibility problems with this web form

p We’re always looking to improve the accessibility of this web form. If you find any problems or think we’re not meeting accessibility requirements:

ul.list.list-bullet
  li email: <a href="mailto:Contact-MOJ-Support@digital.justice.gov.uk">Contact-MOJ-Support@digital.justice.gov.uk</a>

h2.start-heading.start-heading--reasons Enforcement procedure

p The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service</a> (EASS).

h2.start-heading.start-heading--reasons Technical information about this web form’s accessibility

p Ministry of Justice Digital & Technology is committed to making its web form accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.

h2.start-heading.start-heading--reasons Compliance status

p This web form is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.

h2.start-heading.start-heading--reasons How this web form has been tested for accessibility

p We tested the form with a range of assistive technologies such as Wave, Dragons & JAWs, and no accessibility issues were identified.

p Our main web form is available at <a href="https://contact-moj.service.justice.gov.uk/">https://contact-moj.service.justice.gov.uk/</a>.

h2.start-heading.start-heading--reasons Preparation of this accessibility statement

p This web form was last tested on 6th March 2020. The test was carried out internally by an assistive technology specialist from the MoJ Assistive Technology Support Team.

p This statement was prepared on 15th September 2020. It was last updated on 15th September 2020.
