<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
    <p>Please contact<br><a href="mailto:Contact-MOJ-Support-gg@justice.gov.uk?subject=500 error report">Contact-MOJ-Support-gg@justice.gov.uk</a> with the details to report this issue.</p>
  </main>
</div>
