<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">If you typed the web address, check it is correct.</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
    <p class="govuk-body">If the web address is correct or you selected a link or button, please contact <a href="mailto:Contact-MOJ-Support@digital.justice.gov.uk" class="govuk-link">Contact-MOJ-Support@digital.justice.gov.uk</a> with the details to report this issue.</p>
  </main>
</div>
