<% content_for :page_title, t('page_title.feedback_confirm') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(text: t('.success')) %>
    <p>
      <%= govuk_link_to t('button.moj_home'), Settings.moj_home_page %>
    </p>
  </div>
</div>
