<% content_for :page_title do
 %><%= ::Temple::Utils.escape_html((t('page_title.feedback_confirm'))) %>

<% end %><div class="grid-row">
<div class="column-two-thirds">
<div class="govuk-box-highlight">
<h1 class="page-title bold-large">
<%= ::Temple::Utils.escape_html((t('.success'))) %>

</h1></div></div></div><div class="button-holder">
<%= ::Temple::Utils.escape_html((link_to t('button.moj_home'), Settings.moj_home_page)) %>
</div>
