- content_for :page_title do
  = t('page_title.feedback_confirm')

.grid-row
  .column-two-thirds
    .govuk-box-highlight
      h1.page-title.bold-large
        = t('.success')

.button-holder
  = link_to t('button.moj_home'),'https://www.gov.uk/government/organisations/ministry-of-justice'
