<% flash.each do |key, value|
unless %w{hidden ga}.include? key
if key == "alert"
 %><div aria-labelledby="error-summary-heading" class="error-summary" role="group" tabindex="-1">
<h1 class="heading-medium error-summary-heading" id="error-summary-heading">
<%= ::Temple::Utils.escape_html((value)) %>

</h1></div><% elsif key == "notice"
 %><div aria-labelledby="notice-summary-heading" class="notice-summary" role="group" tabindex="-1">
<h1 class="heading-medium notice-summary-heading" id="notice-summary-heading">
<%= ::Temple::Utils.escape_html((value)) %>

</h1></div><% else
 %><div<% _temple_html_attributeremover1 = ''.dup; _temple_html_attributemerger1 = []; _temple_html_attributemerger1[0] = "flash"; _temple_html_attributemerger1[1] = (::Temple::Utils.escape_html((key))).to_s; _temple_html_attributeremover1 << ((_temple_html_attributemerger1.reject(&:empty?).join(" ")).to_s); _temple_html_attributeremover1 %><% if !_temple_html_attributeremover1.empty? %> class="<%= _temple_html_attributeremover1 %>"<% end %>>
<span><%= ::Temple::Utils.escape_html((value)) %>
</span></div><% end; end; end %>
