<div class="phase-banner">
<p>
<strong class="phase-tag">
<%= ::Temple::Utils.escape_html(("ALPHA")) %>
</strong><span>
<%= ::Temple::Utils.escape_html((t('common.phase_banner'))) %>
</span></p></div>
